@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------Main Properties-- */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* ------------------Header-- */


/* ------------------Images-- */
.us-flag {
    margin: 50px 0 100px 0;
    padding: 0;
    height: 75vh;
    width: 100%;
    clear: both;
}

#hero-image {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

@keyframes hero-zoom {
    from{transform: scale(1);}
    to {transform: scale(1.1);}
}

/* ------------------ Logo -- */
#logo {
    float: left;
    text-decoration: none;
    letter-spacing: 4px;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, red, blue) 1;
    color: #5b5555;
    font-size: 380%;
    margin: 39px 30px 0px 0px;
}

/* ------------------Nav Bar-- */
.nav-bar {
    display: inline-flex;
    float: right;
    list-style: none;
    justify-content: right;
    gap: 100px;
    padding: 0;
    margin: 75px 30px 20px 50px;
}

.active {
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, red, blue) 1;
}

.nav-bar a {
    text-decoration: none;
}

.home-nav a {
    color: red;
    font-size: 24px;
    font-weight: 400;
}

.kamala-nav a {
    color: blue;
    font-size: 24px;
    font-weight: 400;
}

.trump-nav a {
    color: red;
    font-size: 24px;
    font-weight: 400;
}

.poll-nav a {
    color: blue;
    font-size: 24px;
    font-weight: 400;
}

.home-nav a:hover {
    color: blue;
}

.kamala-nav a:hover {
    color: red;
}

.trump-nav a:hover {
    color: blue;
}

.poll-nav a:hover {
    color: red;
}

/* ------------------ Footer -- */

.social-networks {
    display: flex;
    justify-content: center;
    clear: both;
    text-decoration: none;
    background-color: #5b5555
}

.social-networks a {
    text-decoration: none;
}

-------------------------------------

  .face-off {
    display: flex;
    margin: 20px;
  }
  
  .trump-faceoff {
    justify-content:left;
    margin: 0 20px;
  }
  
  .trump-faceoff img {
    border-radius: 10px;
    height: 863px;
  }

  .kamala-faceoff {
    justify-content:right;
    margin: 0 20px;
  }
  
  .kamala-faceoff img {
    border-radius: 10px;
    width: 518px;
  }
  
  /* .tale-of-tape {
    width: 300px;
    border-collapse: collapse;
  }
  
  .tale-of-tape th, .tale-of-tape td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    justify-content: center;
    align-items: center;
  }
  
  .tale-of-tape th {
    background-color: #f4f4f4;
  }
  
  .tale-of-tape td {
    background-color: #f9f9f9;
  }   */