@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------Main Properties-- */
body {
    font-family: "Roboto", sans-serif;
    color: #5b5555;
}

/* ------------------Images-- */
.us-flag {
    display: flex;
    margin: 50px 0 10px 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.face-off {
    display: flex;
    justify-content: center;
}

.face-off img {
    height: 650px;
    width: 100%;
    border-radius: 50%;
    margin: 0 0 30px 0;
}

/* ------------------ Logo -- */
#logo {
    float: left;
    text-decoration: none;
    letter-spacing: 4px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, red, blue) 1;
    color: #5b5555;
    font-size: 380%;
    margin: 30px;
}

/* ------------------Nav Bar-- */
.nav-bar {
    display: flex;
    list-style: none;
    float:right;
    gap: 50px;
    padding: 0;
    margin: 75px 30px 0px 0px;
}

.nav-bar a {
    text-decoration: none;
}

.active {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, red, blue) 1;
}

.nav-red a {
    color: red;
    font-size: 24px;
    font-weight: 400;
}

.nav-blue a {
    color: blue;
    font-size: 24px;
    font-weight: 400;
}

.nav-red a:hover {
    color: blue;
}

.nav-blue a:hover {
    color: red;
}

/* ------------------- Home Page Fonts-- */

.website-purpose {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

/* ------------------- Home Page About-- */

#kamala-left {
   float: left;
   padding-top: 30px;
   width: 33%;
}

#trump-right {
    float: right;
    padding-top: 30px;
    width: 33%;
}

#center-face-off {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #5b5555;
    width: 100%;
    margin: 5px 0;
}

.kamala-left-heading {
    width: 70%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-left: 20px;
}

.trump-right-heading {
    width: 70%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-right: 20px;
}

/* ------------------ Footer -- */

.footer-nav {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 32px;
}

.footer-nav i {
    text-decoration: none;
    font-size: 160%;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-nav .facebook {
    color: #4267B2;
}

.footer-nav .x {
    color:#000
}

.footer-nav .youtube {
    color: #FF0000;
}

.footer-nav .insta {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    transition: transform 0.3s ease
}